/* Style for the entire page */
body {
  background-color: #royalblue;
  font-family: initial;
  margin: 20px;
  padding: 0;
    background-image: url(bk.jpeg); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
}


img {
    border: 2px solid gray;
    display: block;
    margin: 0 auto;
    
}


.container-box {
      border: 4px solid gray;
      padding: 40px; 
      width: 60%; 
      margin: 0 auto; 
      background-color:#7991BD; 
      flex-wrap: wrap; 
    }
    #title-box {
      font-size: 20px;  
      font-family: cursive;
      color: black; 
      width: 100%; 
      height: 20%;
      text-align: center; 
      border: 2px solid gray;
      background-color:steelblue;
}


.navbar {
    background-color:grey;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: cursive;
    font-size: 20px;  
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

.navbar li a:hover {
    background-color: #333;
    color: white;
}


.content {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px; 
    font-family: cursive;
}
